# Ignore the entire object files directory
objects/

# Ignore the compiled C++ executable
SDDparser

# Ignore karyogram directory for now - incomplete
karyogram/

# Ignore karyogram image
karyogram.png

# Ignore official SDD file and summary file
SDDOutput_1.txt
SDDOutput_1_summary.txt
